:root{
    --white: #f9f9f9;
    --black: #36383F;
    --gray: #85888C;
    --blue: #008ad5;
}

html {
    scroll-behavior: smooth;
  }

body
{
    margin: 0px;
    padding: 0px;
    font-family: Montserrat;
    box-sizing: border-box;
}

#logo-icon
{
    height: 62px;
    width: 212px;
}

a
{
    text-decoration: none;
    color: var(--blue);
    font-weight: bold;
}


ul
{
    list-style: none;

}

.header{
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
}

.logo{
    display: inline-block;
    margin: 25px 30px 10px 55px;
    background-color: white;
    width: 15%;
}

.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    
    background-color: var(--black);
    overflow: hidden;
    font-weight: bold;
    font-size: 20px;
    z-index: 1000;

}


.menu a{
    display: block;
    padding: 30px;
    margin: 0px 0px 10px 0px;
}
.menu a:hover{
    background-color: var(--gray);
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}/* Style label tag */

.hamb-line {
    background: var(--black);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: var(--black);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

body:has(.side-menu:checked) {
  overflow: hidden;
}

/* Responsiveness */
@media (min-width: 1390px) {


    .nav{
        max-height: none;
        top:0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: white;
  

    }
    .header
    {   
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        background-color: white;
        z-index: 2;
    }

   

    .menu li{
        float: left;
    }

    .menu a:hover{
        background-color: white;
        color: rgb(0, 99, 150);
        
    }

    .cool-link {
        display: inline-block;
        color: rgb(0, 99, 150);
        text-decoration: none;
        z-index: 2;
    }
    
    .cool-link::after {
        content: '';
        display: block;
        width: 0;
        height: 8px;
        background: rgb(0, 99, 150);
        transition: width .3s;
        z-index: 2;
    }
    
    .cool-link:hover::after {
        width: 100%;
        transition: width .3s;
    }


    .hamb{
        display: none;
    }


}

/*FIM DO HEADER E NAVEGAÇÃ0*/

.banner-img
{
    width: 100%;
    height: 30%;
    z-index: -1;
}

.banner 
{
    background-image: url("./banner1.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 720px;
    width: 100%;
}

.texto
{
    padding: 20% 0 0 7%;
}


.legenda-titulo
{
    font-size: 40px;
    color: white;
    font-weight: bold;
    align-items: center;
}

.legenda-texto
{
    color: white;
    font-weight: 600;
    align-items: center;
    font-size: 28px;
}

.button-saiba-mais
{
    background-color: #006396;
    width: fit-content;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    padding: 17px;
    margin: 2% 0 0 0;
}



#titulo-atuacao
{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    padding: 1% 0 2% 0;
}

.card-atuacoes
{
    display: flex; 
    padding:2% 0 2% 0;
    justify-content: center;
    align-items: center;
    gap: 50;
    flex-direction: column;
    width: 100%;
}

.areas
{
   display: flex;
   flex-direction: row;
   width: 100%;
   padding: 0;
   justify-content: center;
   gap:10%
   
   
}

.card
{
    width: 10%;
}

.areas img
{
    width: auto;
    height: 30%;
    
}


.areas div
{
   text-align: center;
}

.areas div > div:nth-of-type(1)
{ 
    font-weight: 600;
    margin: 5% 0 5% 0;
    font-size: 22px;
    
}

.mosaico
{
    width: 100%;
}

.mosaico img
{
    width: 100%;
}


@media (max-width: 1081px) {

   

    .areas 
    {
      flex-direction: column;
    }

    .areas img
    {
    width: 20%;
    height: auto;
    column-gap: 15%;
    }

    #logo-icon
    {
       width: 180px;
       height: auto;
    }

    .logo
    {
        left: 0;
        margin: 2% 0 0 2%;
    }

    .hamb
    {
        padding: 8% 5% 0 0;
    }

    .header
    {
      padding: 0 0 0 0;

    }


    .texto
    {
        padding: 60% 0 0 7%;
    }

    .legenda-titulo
    {
        font-size: 30px;
        color: white;
        font-weight: bold;
        align-items: center;
    }

    .legenda-texto
    {
        color: white;
        font-weight: 600;
        align-items: center;
        font-size: 18px;
        margin: 5% 0 5% 0;
    }

    #titulo-atuacao
    {
        font-size: 20px;
        font-weight: 600;
        padding: 3% 0 6% 0;
    }
    
    .card
    {
        width: 100%;
        margin-bottom: 5%;
    }

    .areas
    {
        row-gap: 10%;;
    }

    .contato-footer
    {
        display: flex;
        width: 100%; 
        align-items: center;
        justify-content: center;   
        z-index: -1;
    }

    .map {display: none;}

    .contato
    {
        background-color: black;
        display: flex;
        width: 100%;
        flex-grow: 1;
   
        
    }

   
    .dados
    {
        width: 50%;
        display: flex;
        z-index: -1;
        font-size: 45px;
        color: white;
        flex-direction: column;
        gap: 30px;
        padding: 5% 0 3% 0;
       
    }

    #dados
    {
        z-index: -1;
    }
    

  }

.sponsors
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 4%;
}


.sponsors-row-1
{
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    justify-content: center;
    gap: 7%;
}

.sponsors-row-1 a
{
    width: 15%;
  
}

.sponsors-row-1 a img
{
    width: 100%;
    filter: grayscale(100);
}

.sponsors-row-2 a
{
    width: 15%;
}

.sponsors-row-2 a img
{
    width: 100%;
    filter: grayscale(100);
}

.sponsors-row-2
{
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    justify-content: center;
    gap: 7%;
}



.contato-footer
{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    z-index: -1;
}

.contato
{
   background-color: #006396;
   width: 40%;
   display: flex;
   background-image: url("./world-mapbg@2x.png");
   background-size: cover;
   background-repeat: no-repeat;
z-index: -1;
   justify-content: center;
   align-items: center;
   

}

.contato img
{
    width: 100%;
    height: 100%;

    
}

.map
{
    right: 0;
    width: 60%;
    height: 100%;
   
}

.dados
{
    z-index: 1;
    font-size: 45px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#fale
{
    font-size: 20px;
    font-weight: 500;
}

.address, .telefone, .mail, .linkedin
{
    font-size: 12px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.dados img
{
    width: 31px;
}

#cursor {
    display: inline-block;
    background-color: white;
    width: 0.25rem;
    height: 1.3rem;
    z-index: -2;
    animation: blink 1s infinite;
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@media screen and (max-width: 600px) {
    .sponsors {
      display: none;
    }
  }